<form class="form form-instituicao">
  <h4>Olá, {{usuario | lowercase}}. (<a href="javascript:;" (click)="logout()">Sair</a>)</h4>
  <p>Você precisa selecionar o arquivo(.csv) com os candidatos e enviar para que a importação seja realizada.</p>
  <p>Os candidatos serão importados na instituição: <a class="campus-name" (click)="openModalCampus()" href="javascript:;">{{campusSelecionado?.nome_fantasia}}</a></p>
  <div class="file">
    <p class="name">{{ uploader.queue[0]?.file?.name }}</p>
    <label for="importacao" class="btn btn-default">
      Selecionar arquivo
      <input type="file" id="importacao" class="hide" ng2FileSelect [uploader]="uploader" accept=".csv"/>
    </label>
  </div>
  <button type="button" class="btn btn-primary" *ngIf="uploader.queue.length > 0"
          [swal]="{
                    title: 'Confirmação das informações',
                    text: 'Importar candidatos no campus: IESB - Unidade Sul?',
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sim',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-primary',
                    cancelButtonClass: 'btn btn-default',
                    buttonsStyling: false,
                    width: 300
                  }" (confirm)="import()">Importar</button>
</form>
