.form.form-instituicao {
  text-align: center;
  padding: 20px 10px;
  h4 {
    text-transform: capitalize;
    a {
      font-size: 14px;
      font-weight: normal;
    }
  }
  .campus-name {
    display: table;
    padding: 10px 30px;
    background: #e0d04d;
    border-radius: 30px;
    margin: 15px auto;
    color: #7b6f06;
    outline: none;
    &:focus, &:active {
      outline: none;
    }
    &:hover:after {
      margin-left: 10px;
      visibility: initial;
      opacity: 1;
    }
    &:after {
      content: 'Alterar';
      margin-left: -38px;
      visibility: hidden;
      opacity: 0;
      font-size: 11px;
      transition: margin ease .2s, visibility ease .4s, opacity ease .3s;
    }
  }
  .file {
    display: table;
    margin: 35px auto;
    padding: 20px 80px;
    .name {
      font-size: 13px;
      font-style: italic;
      color: #a7a7a7;
      margin-top: 20px;
    }

  }
}