
.btns .btn {
  margin-right: 5px;
}

.btn {
  background: transparent;
  border-radius: 50px;
  padding: 9px 23px;
  font-size: 12px;
  color: black;
  transition: all .2s ease;
  &:hover, &:focus, &:active {
    background: transparent;
    text-decoration: none;
    outline: none;
  }

  &.btn-sm {
    padding: 5px 15px;
    font-size: 11px;
  }

  &.btn-default {
    border: 1px solid #929292;
    color: #929292;
    &:hover {
      background: #929292;
      color: white;
    }
    &.btn-default:active, &.btn-default:focus {
      outline: none;
    }
  }

  &.btn-primary, &.btn-primary:focus, &.btn-primary:active {
    border: 1px solid #46d381;
    color: #46d381;
    background: transparent;
    box-shadow: none;
    outline: none;
    &:hover {
      background: #46d381;
      color: white;
    }
  }
  &.btn-danger, &.btn-danger:focus, &.btn-danger:active {
    border: 1px solid #d34664;
    color: #d34664;
    background: transparent;
    box-shadow: none;
    outline: none;
    &:hover {
      background: #d34664;
      color: white;
    }
  }
  &.btn-gold, &.btn-gold:focus, &.btn-gold:active {
    border: 1px solid #e5bf56;
    color: #d2a93b;
    font-weight: bold;
    box-shadow: none;
    outline: 0;
    &:hover {
      background: #e5be56;
      color: white;
    }
  }
}