
.form {
  h3 {
    font-size: 20px;
    color: #c7c7c7;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #cacaca;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #cacaca;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #cacaca;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #cacaca;
  }
  .container {
    margin: 0;
    padding: 0;
  }
  label {
    font-size: 13px;
    color: #656565;
    span {
      font-size: 10px;
      font-weight: normal;
      color: #9a9a9a;
    }
  }
  textarea.form-control {
    height: auto;
  }
  .form-control {
    font-size: 13px;
    margin-bottom: 12px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #dedede;
    &[disabled] {
      background-color: #f5f5f5;
      color: #a5a5a5;
      border-color: #ffffff;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .file-upload {
    text-align: center;
  }
  .checkbox {
    line-height: 36px;
    font-size: 13px;
    color: #929292;
    margin: 0;
    font-weight: normal;
    input {
      margin-top: 0;
      margin-left: 0;
      margin-right: 10px;
      width: 60px;
      display: inline-block;
      text-align: right;
    }
  }
  .phone {
    .form-control {
      display: inline-block;
      margin-right: 5px;
    }
    .tag {
      width: 110px;
    }
    .ddd {
      width: 50px;
    }
    .number {
      width: calc(100% - 290px);
    }
    .btn {
      vertical-align: baseline;
    }
  }
  .btns.fixed {
    position: fixed;
    width: 100%;
    background: #ffffff;
    bottom: 0;
    left: 250px;
    padding: 20px 45px;
    z-index: 9;
  }
}
.show-form {
  .list {
    visibility: hidden;
    opacity: 0;
    margin-top: -20px;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out, margin .3s ease-in-out, height .6s ease-in-out;
  }
  .form {
    visibility: visible;
    opacity: 1;
    top: 67px;
    position: absolute;
    height: auto;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out, top .3s ease-in-out;
  }
}