.modal-backdrop.fade.show {
  filter: alpha(opacity=50);
  opacity: .5;
  z-index: 1040;
}

.fade.show {
  opacity: 1;
}
.modal-dialog {
  width: initial;
  margin: 0;
  .modal-content {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 0;
    border: none;
    .close {
      padding: 5px 20px;
      font-size: 50px;
      font-weight: 100;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}