.ql-toolbar {
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #dedede;
}
.ql-container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #dedede;
  margin-bottom: 15px;
}