.swal2-container {
  &.swal2-shown {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .swal2-icon {
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
    color: #6ed381;
    border-color: lighten(#6ed381 , 20%);
  }
  .swal2-title {
    font-size: 18px;
    font-weight: 100;
    color: #6ed381;
  }
  .swal2-danger {
    .swal2-title {
      color: #d34664;
    }
    .swal2-icon {
      color: #d34664;
      border-color: lighten(#d34664 , 20%);
    }
  }
  .swal2-content {
    font-size: 13px;
    margin: 10px 0 25px;
    color: #797979;
    font-family: 'Open Sans', sans-serif;
  }
  .swal2-buttonswrapper {
    .btn {
      margin: 0 5px;
    }
  }
  @import 'buttons';
}