<div class="page-login" [ngClass]="{ 'show-animation': showAnimation }">
    <div class="row row-login">
        <div class="box box-login">
          <a class="logo" href="#"> </a>
          <form (submit)="login($event)" class="form-login">
              Usuário:
              <input type="text" name="username" class="form-control" autofocus [(ngModel)]="auth.username" required>
              Senha:
              <input type="password" name="password" class="form-control" [(ngModel)]="auth.password" required>
              <div class="alert alert-danger" [ngClass]="{ hide: !showMsg }">{{msg}}</div>
              <button type="submit" class="btn btn-primary btn-login btn-block"
                    [ngClass]="{'show-loader' : showLoader}"
                    [disabled]="auth.username.length == 0 && auth.password.length == 0">
                  Acessar
                  <span class="btn-loader"></span>
                </button>
              <div class="esqueci-a-senha">
                  <!--<span>Esqueceu a senha?</span> <a href="javascript:;">Clique aqui.</a>-->
              </div>
          </form>
        </div> 
    </div>
  </div>