.page-login {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -10px;
  left: 0;
  background: #f5f5f5;
  opacity: 0;
}

a {
  color: #00B7FF;
}

.row-login {
  margin-top: 10%;
  margin-left: 0;
  margin-right: 0;
}

.box {
  position: relative;
}

.box-login {
	margin: auto;
  width: 350px;
  color: #222;
    .alert {
      letter-spacing: 0px;
    }
    .form-login {
      padding: 20px;
      background: #F8F8F8;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      color: #AAA;
      .esqueci-a-senha {
        text-align: center;
        font-size: 13px;
        padding: 15px 0;
      }
    }
	  input {
		  margin: 10px 0;
      height: 40px;
      border-radius: 2px;
      border: 1px solid #E9E9E9;
	 }

  .logo {
    display: block;
    background-repeat: no-repeat;
    background-image: url(/assets/img/logo-creduc2.png);
    height: 80px;
    width: 290px;
    margin: 0 auto 30px;
    opacity: .7;
  }

  .btn-login {
    background-color: rgba(255, 255, 255, 0);
    padding: 11px;
    border-color: #D5D5D5;
    border-radius: 4px;
    color: #787878;
    margin: 0 auto;
    transition: background 0.2s;
    &:hover, &:active {
      background: #0f9547;
      color: #FFF;
      transition: background 0.2s;
    }
  }
}

