/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */

@import url('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css');

@import 'variables';
@import '_components/checkbox';
@import '_components/table';
@import '_components/buttons';
@import '_components/loaders';
@import '_components/form';
@import '_components/typeahead';
@import '_components/modal';
@import '_components/behavior';
@import '_components/sweetAlert';
@import '_components/quill';

nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.show-animation {
  top: 0 !important;
  opacity: 1 !important;
  transition: all ease .5s;
}

.wrapper {
  opacity: 0;
  @at-root .show-animation & {
    opacity: 1;
    transition: all ease .3s;
  }
}

input.form-control {
  &:focus {
    border-color: #ccc;
    box-shadow: none;
  }
}

