@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html, body{
  height: 100%;
}

body, h1, h2, h3, h4, h5, a, p, span {
  font-family: 'Open Sans', sans-serif;
}

a.active {
  background-color: gray;
}
