<div class="form form-campus container">
  <h3 class="titulo">Selecione o campus que deseja importar os candidatos</h3>
  <form class="col-md-12">
    <input type="text" name="campus" [(ngModel)]="campusSelecionado" id="campus" [ngbTypeahead]="searchCampus" [inputFormatter]="formatCampusResult" [resultFormatter]="formatCampusResult" placeholder="Procure o campus que deseja importar" class="form-control" autofocus>
    <button type="submit" class="btn btn-primary" (click)="selectCampus()">Selecionar</button>
  </form>
</div>
