.modal-content {
  text-align: center;
  .form.form-campus {
    max-width: 600px;
    margin: 10% auto 0;
    padding: 15px 35px;
    h3.titulo {
      margin: 0;
      color: #333;
      padding: 30px 0;
    }
    input {
      margin-bottom: 30px;
    }
    .btn {
      width: 200px;
    }
  }
}