<div class="overflow" [ngClass]="{ 'hide': !showLoader }">
  <div class="loader"></div>
</div>
<div class="page-home" [ngClass]="{ 'show-animation': showAnimation }">
  <div class="alerts">
    <ngb-alert *ngFor="let alert of alerts" [type]="alert.type" (close)="closeAlert(alert)">{{alert.message}}</ngb-alert>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
