
.page-home {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -10px;
  left: 0;
  opacity: 0;
}


.logo {
  display: block;
  background-image: url(/assets/img/logo-creduc2.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100%;
  height: 55px;
  opacity: .7;
  margin-top: 40px;
  margin-bottom: 40px;
}

.alerts {
  position: fixed;
  margin: 0 auto;
  width: 450px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1051;
  .alert {
    left: 0;
    right: 0;
    width: 100%;
    margin: 10px auto;
    font-size: 13px;
    border-radius: 10px;
  }
}


.content {
  position: relative;
  width: 100%;
  padding: 0 45px 20px;
  top: 30px;
  h2.title {
    text-align: center;
    color: #797979;
    margin-bottom: 20px;
    border-bottom: 2px dotted #ececec;
    padding-bottom: 13px;
    transition: all ease .3s;
  }
  .table {
    margin-top: 20px;
  }
}