.modal-content {
  text-align: center;
  .wrapper-result {
    max-width: 600px;
    margin: 10% auto 0;
    padding: 15px 35px;
    h3.titulo {
      margin: 0;
      color: #333;
      padding: 30px 0;
    }
  }
}