<div class="wrapper-result container">
  <h3 class="titulo">{{titulo}}</h3>
  <p>{{erro}}</p>
  <a class="btn btn-primary" (click)="activeModal.close()" href="javascript:;">Realizar nova importação</a>
</div>
